/* General Styling */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    padding: 0;
}

/* Header Styling */
header {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

/* Navigation Styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.logo h1 {
    margin: 0;
}

h1 {
    color: #e88e00;
}

h2 {
    color: #e88e00;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #fca311;
}

/* Mobile Menu Styling */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease;
}


/* General Section Styling */
.section {
    @include section-styling; /* השימוש ב-mixins של section-styling */
    background-color: #f7f7f7; /* צבע הרקע האפור */
    padding: 80px 10%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #333333;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transform: perspective(600px) rotateX(1deg);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 50px 50px; /* רווח מצד שמאל וימין */
}

.section:hover {
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
    transform: perspective(600px) rotateX(2deg);
}

.section + .section {
    margin-top: 80px; /* רווח בין סקשן לסקשן מעליו */
}
/* Project Card Styling */
.project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.contact-links a img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

/* Button Styling */
.button-link {
    display: inline-block;
    background-color: #fca311;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-link:hover {
    background-color: #e88e00;
    transform: translateY(-2px);
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10%;
    flex-direction: row-reverse;
}

.about-text {
    width: 50%; /* חצי הרוחב לטקסט */
    padding-right: 20px; /* הזזה ימינה */
}

.about-image {
    width: 50%; /* חצי הרוחב לתמונה */
    display: flex;
    justify-content: flex-end; /* יישור לצד ימין */
    align-items: flex-start; /* יישור למעלה */
    max-height: 600px; /* הגבלת גובה מקסימלי */
    overflow: hidden; /* הסתרת חלק מהתמונה */
    padding-right: 240px; /* מרווח מימין */
}

.about-image img {
    width: auto; /* השאר את הרוחב כפי שהוא */
    height: 100%; /* מילוי את הגובה בכדי לשמור על יחס הגובה לרוחב */
    animation: slide-in 1s ease-out;
}

/* Keyframes Animation */
@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.footer-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.footer-links li a:hover {
    color: #fca311;
}

.button-link-cv {
    display: inline-block;
    background-color: #fca311;
    color: #333333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 40px; /* רווח מלמעלה */
}

.button-link-cv:hover {
    background-color: #e88e00;
    transform: translateY(-2px);
}

#skills {
    @include section-styling;
}

.categories {
    display: flex;
    justify-content: space-between;
    padding: 40px 10%;
}

.category {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.33% - 40px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.category:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.category-content {
    display: none;
    margin-top: 20px;
    padding: 10px;
}

.category.active .category-content {
    display: block;
}
