@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*----ALL ANIMATION PARTS----*/


/*--OVERLAY--*/
.overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-modal);
}
  
.first 
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--first-color);
    z-index: var(--z-modal);
}
  
.second 
{
    position: fixed;
    top: 0;
    left: 33.3%;
    background-color: var(--first-color);
    z-index: var(--z-modal);
}
  
.third 
{
    position: fixed;
    top: 0;
    left: 66.6%;
    background-color: var(--first-color);
    z-index: var(--z-modal);
}

/*--TYPING--*/

.typing-animation {
    overflow: hidden;
    border-right: 2px solid;
    white-space: nowrap;
    animation: typing 4s steps(30, end) 1s 1 normal both, blink 1s infinite;
    width: 0;
    max-width: 16ch;
}



@keyframes typing {
    100% {
        width: 16ch;
    }
}

@keyframes blink {
    0%, 100% { border-color: transparent }
    50% { border-color: var(--first-color) }
}



/* Global Styles and Variables */
:root {
    --first-color: #FCBE85;
    --black-color: #E0FBFC;
    --white-color: #293241;
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 4.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 1.37rem;
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/* Global Styles */

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body
{
    scroll-behavior: smooth;
}

body
{
    font-family: var(--body-font);
    background-color: var(--white-color);
    color: var(--black-color);
    font-weight: 700;
}

h1, h2 
{
    margin-top: 10px;
    margin-bottom: 10px;
}

ul 
{
    list-style: none;
}

a 
{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


span 
{
    font-weight: 700;
}

/*FullBody*/
.bd-grid 
{
    width: 80vw;  /* Use 80% of viewport width */
    margin: 0 10%; /* 10% margin on each side */
}

/*----HEADER----*/

.l-header {
    padding: 0 10%;
    display: flex;
    width: 100%;
    height: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    width: 100%;
}

.logo__list {
    text-align: center;
    display: flex;
    margin-top: 1.5rem;
    flex-shrink: 0;
}

.nav__logo {
    position: relative;
    font-size: var(--normal-font-size);
    color: var(--black-color);
    text-transform: initial;
}


.nav__list 
{
    flex-shrink: 0;
    text-align: center;
    display: flex;
    margin-top: 1.5rem;
}

.nav__item 
{
    margin-left: 3rem;
}

.nav__link {
    position: relative;
    font-size: var(--normal-font-size);
    color: var(--black-color);
    text-transform: initial;
}

.nav__link::after 
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: var(--first-color);
    transition: all 0.3s;
    visibility: hidden;
}

.nav__link:hover::after 
{
    width: 75%;
    visibility: visible;
}


.nav__toggle 
{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}


/* Header slide and fade after a certain point */
.slideUp {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}





/* Mobile view adjustments */
@media (max-width: 768px) {
    .nav__toggle {
        display: block;
    }
    
    .nav__menu 
    {
        display: flex;
        justify-content: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background: rgba(41, 50, 65, 0.95);  /* A translucent version of your --white-color */
        width: 100%;
        height: 100%;  /* Make it full screen */
        padding: 2rem 1.5rem;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(-100%);
        transition: transform 1s ease-in-out;
    }

    .nav__menu.show 
    {
        transform: translateY(0);
    }
    /* Adjustments for logo and links font size and margin */
    .nav__logo {
        font-size: 0.8rem;
        margin-bottom: 2rem;  /* Some space below the logo */
    }

    .nav__link {
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--first-color);  /* Using your primary color for links */
        padding: 0.5rem 0;  /* A little vertical padding for each link */
        display: block;  /* Making links block to utilize full width */
        transition: background-color 0.3s ease-in-out;  /* Transition effect for hover */
    }


    .nav__item {
        margin-left: 0;  /* Resetting the margin for mobile view */
        margin-bottom: 1rem;
    }

    .nav__list 
    {
        height: max-content;
        display: flex;
        flex-direction: column;;
        gap: 1rem;  /* Adjust as needed for spacing between items */
    }
}


#home 
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.home__img 
{
    grid-column: 2 / 2;
    grid-row: 1 / -1;
    overflow: hidden;
    position: relative;
    z-index: var(--z-back);
}

.home__img img 
{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.home__img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, var(--white-color) 0%, rgba(255, 255, 255, 0) 20%),
                linear-gradient(to top, var(--white-color) 0%, rgba(255, 255, 255, 0) 20%),
                linear-gradient(to top, var(--white-color) 0%, rgba(255, 255, 255, 0) 10%);
    pointer-events: none;
}


.home__information {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-self: center;
}


.home__pressent 
{
    font-size: var(--small-font-size);
}

.home__pressent2
{
    font-size: var(--small-font-size);
}

.home__title 
{
    color: var(--first-color);
    position: relative;
}

.home__skill 
{
    font-size: var(--h2-font-size);
}

/* Base styles for the button */
.home__button {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: .75rem;
    color: var(--white-color);
    padding: .625rem 1rem;
    border-radius: .25rem;
    background-color: var(--first-color);
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
}

/* Button animation on hover */
.home__button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #FFA500; /* Darker shade of orange */
    transition: width 0.5s ease;
    z-index: -1;
}

.home__button:hover::before 
{
    width: 100%;
}

/* Social Icons - below main content */
.home__social 
{
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    display: flex;
    z-index: var(--z-tooltip);
    margin-bottom: 15vh;
}

.social-icons a
{
    text-decoration: none;
    color: var(--black-color);
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover
{
    color: var(--first-color);
    transform: translateY(-5px);
}



.icon-wrapper {
    display: inline-flex;
    align-items: center;
    margin-top: 1rem;
    margin-right: 2vw;
    font-size: 2rem;
    cursor: pointer;
    width: fit-content;
    position: relative;
    color: var(--black-color);
    padding: 5px; /* Add some padding to space the border from the icon/content */
}

.home__social-icon
{
    font-size: 4rem;
    display: flex;
    transition: transform 0.5s;
}

.icon-wrapper:hover .home__social-icon {
    color: var(--first-color) !important;
    transform: translateY(-10px) !important;
}


/*----ABOUT----*/

#About 
{
    margin-top: 10rem;
    padding: 0 20px;
}

.container_about
{
    position: relative;
    border: 1px solid #eaeaea; /* Set a border */
    min-height: 1050px;
    max-height: max-content;
    border-radius: 15px; /* Add rounded corners */
    padding: 20px; /* Add padding */
    background: var(--white-color); /* Set a different background color */
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.8); /* Add shadow */
}
.row
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    margin-bottom: 2rem;
    gap: 2rem;
}

.about-col-1
{

    grid-column: 1 / 2;
    grid-row: 1 / 1;
    position: relative;
    align-self: center;
    justify-self: center;
}

.about-col-1 img
{
    width: 100%;
    border-radius: 35%;
    border: 5px solid var(--first-color);
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.8); /* Add shadow */
}

.about-col-2
{

    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
}

.sub-title
{
    width: fit-content;
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin: 0 auto;
}

.about-col-2 p
{
    width: fit-content;
    font-size: var(--normal-font-size);
    color: var(--black-color);
    margin: 0 auto;
}

.tab-titles
{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.tab-links
{
    margin-right: 35px;
    font-size: 18px;
    font-weight: 500;
    color: var(--black-color);
    cursor: pointer;
    position: relative;
}

.tab-links::after
{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 50%;  /* Start from the center */
    transform: translateX(-50%);  /* Ensures the starting point is at the center of the text */
    width: 0;
    height: 3px;
    background: var(--first-color);
    transition: all 0.2s;
    transition-delay: 0.1s;
    visibility: hidden; /* Initially the underline is invisible */
}

.tab-links:hover::after, .tab-links.active-link::after
{
    width: 75%;  /* The underline will expand to 90% of the text width */
    visibility: visible; /* On hover or when active, the underline becomes visible */
}



.tab-contents
{

    display: none;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    text-align: center;
}

.tab-contents ul li
{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span
{
    color:  var(--first-color);
    font-size: 14px;
    font-weight: 500;
}

.tab-contents.active-tab
{
    display: block;
}


/*----SKILLS----*/

/* ------------------services section------------------ */

#Services
{
    padding: 0 20px;
}

.container_services
{
    margin-top: 10rem;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list .flip-card {
    background: #FCBE85;
    height: 200px;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s, color 0.5s;
    perspective: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.services-list .flip-card i {
    font-size: 50px;
    margin: 0;  /* Reset margin to ensure centering */
}

.services-list .flip-card h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list .flip-card a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list .flip-card:hover {
    background: #ee6c4d;
}

.services-list .flip-card:hover .flip-card-back {
    background-color: #ee6c4d;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #FCBE85;
    color: black;
    transition: background-color 0.5s;
    display: flex;           /* Added */
    justify-content: center; /* Added */
    align-items: center;     /* Added */
}

.flip-card-back {
    background-color: #FCBE85;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    box-sizing: border-box;
    transition: background-color 0.5s;
}

.flip-card-back h2 {
    white-space: nowrap;
}

.flip-card-front {
    background-color: #FCBE85;
    color: black;
    transition: background-color 0.5s;
}

.services-list .flip-card:hover .flip-card-front {
    background-color: #ee6c4d;
}



/*----PROJECTS----*/

/* ------------------portfolio section------------------ */


#Portfolio
{
    margin: 50px 0;
}

.container_portfolio 
{
    margin-top: 10rem;
    border: 1px solid #eaeaea; /* Set a border */
    border-radius: 15px; /* Add rounded corners */
    padding: 20px; /* Add padding */
    background: var(--white-color); /* Set a different background color */
    box-shadow: 0px 10px 30px 10px rgba(0, 0, 0, 0.8); /* Add shadow */
}

.work-list
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work
{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img
{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer  
{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.5), var(--first-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3
{
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.layer a
{
    text-decoration: none;
    color: var(--first-color);
    font-size: 18px;
    margin-top: 20px;
    line-height: 60px;
    background: whitesmoke;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.work:hover img
{
    transform: scale(1.1);
}

.work:hover .layer
{
    height: 100%;
}

.btn
{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.3s;
}

.btn:hover
{
    background: #911002;
    color: #fff;
}



/*----CONTACT----*/

/* ----------_--------contact section------------------ */


.container_contact
{
    margin-top: 10rem;
}


.row_contact
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    margin-bottom: 2rem;
}

.contact-left
{
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    position: relative;
    align-self: center;
    justify-self: center;
    text-align: center;
}


.contact-left p h1
{
    font-size: var(--h1-font-size);
    color: var(--first-color);
}
.contact-left p
{
    margin-top: 30px;
    text-align: center;
}

.contact-left p i
{
    margin-right: 15px;
    font-size: 25px;
    color: var(--first-color);
}

.social-icons
{
    margin-top: 30px;
    text-align: center;
}
.social-icons a
{
    text-decoration: none;
    color: var(--black-color);
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover
{
    color: var(--first-color);
    transform: translateY(-5px);
}

.btn.btn2
{
    display: inline-block;
}

.contact-right
{
    margin-top: 30px;
    text-align: center;
}

.contact-right form
{
    width: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
}

form input, form textarea
{
    margin: 0 10%;
    width: auto;
    border: 0;
    outline: none;
    padding: 20px;
    margin-top: 50px;
    color: black;
    font-size: 18px;
    border-radius: 6px;
}


form .btn2
{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background: var(--white-color);
}

.copyright
{
    width: 100%;
    text-align: center;
    padding: 20px;
    background: black;
    font-weight: 300;
}










    
@media (max-width: 768px) {
    :root {
        --h1-font-size: 3rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 0.875rem;
        --small-font-size: 1rem;
    }
}


@media (max-width: 768px) 
{

    .nav__logo {
        font-size: 0.75rem;
    }
    .nav__link {
        font-size: 0.75rem;
    }
}

@media (max-width: 768px) 
{
    .home__title {
        font-size: 1.8rem;
        color: var(--first-color);
        position: relative;
        white-space: wrap;
        max-width: calc(10.5ch);
    }
    .home__skill {
        font-size: var(--h2-font-size);
    }
    .home__button {
        font-size: 0.75rem;
    }
    .home__img 
    {

        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }
    .home__social 
    {

        grid-column: 1 / 3;
        grid-row: 2 / 3;
        justify-self: center;
        margin-bottom: 80px;
    }
    .home__information
    {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        align-self: self-start;
        margin-top: 25vh;
    }

    .home__social-icon
    {
        font-size: 2rem;
        display: flex;
        transition: transform 0.5s;
    }
}


@media (max-width: 768px) 
{
    .row_contact{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 768px) 
{
    .row{
        display: flex;
        flex-direction: column;
    }
}





@media (max-width: 768px) {
    .services-list .flip-card {
        padding: 20px;
        font-size: 12px;
    }
    .services-list .flip-card i {
        font-size: 40px;
    }
    .services-list .flip-card h2 {
        font-size: 25px;
    }
    .services-list .flip-card a {
        font-size: 10px;
    }
}


@media (max-width: 768px) {
    
    .layer h3
    {
        color: #fff;
        font-size: small;
        font-weight: 700;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .layer p
    {
        font-size: smaller;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 0;
    }
    
    .layer a
    {
        text-decoration: none;
        color: var(--first-color);
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 45px;
        background: whitesmoke;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
    }

    .work:hover img
    {
        transform: scale(1.1);
    }
    
    .work:hover .layer
    {
        height: 100%;
    }

}
