<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Yotam David - Website</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Yotam David </h1>
                <h1> Dev-Ops Engineer </h1>
            </div>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="burger" onclick="toggleNav()">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>

    <section id="about" class="section about-section">
        <div class="about-content">
            <div class="about-text">
                <h2>About Me</h2>
                <p>I am a DevOps Engineer with proficiency in Linux bash and Python scripting.
I have extensive experience utilizing tools including Git and GitHub, Jenkins, Ansible, Docker and DockerHub, Kubernetes, Terraform, Helm, and managing CI/CD pipelines.
My background encompasses significant exposure to AWS and Google Cloud, encompassing cloud tools such as AMIs, Security Groups, Load Balancers, and more.
Furthermore, I possess expertise in cloud-native monitoring using tools like Prometheus and Grafana.
My commitment to continuous learning and professional growth drives me to consistently aim for heightened proficiency in the field, particularly within my role.
During the course of my training, I acquired adeptness in the aforementioned tools, emphasizing self-directed learning and adept problem-solving to address challenges throughout the learning journey. I actively participated in multiple projects, effectively amalgamating the tools and skills mentioned above. 
</p>
            </div>
            <div class="about-image">
                <img src="{{ url_for('static', filename='images/WhatsApp Image 2023-08-28 at 15.51.42 (2).png') }}" alt="My Image">
            </div>
        </div>
    </section>
    
    <section id="skills" class="section">
        <h2>Skills</h2>
        <div class="categories">
            <div class="category" id="skills-category">
                <h3>Skills</h3>
                <div class="category-content">
                    <h4>Programming Languages</h4>
                    <ul>
                        <li>Python, Bash, Linux, Html, Css, JS/li>
                        <!-- ניתן להוסיף כאן שפות תכנות נוספות -->
                    </ul>
            
                    <h4>DevOps Tools</h4>
                    <ul>
                        <li>Git and GitHub</li>
                        <li>Jenkins</li>
                        <li>Ansible</li>
                        <li>Docker and DockerHub</li>
                        <li>Kubernetes</li>
                        <li>Terraform</li>
                        <li>Helm</li>
                        <li>CI/CD Pipelines</li>
                        <li>ArgoCD</li>
                    </ul>
            
                    <h4>Monitoring Tools</h4>
                    <ul>
                        <li> Prometheus, Grafana</li>
                        <!-- ניתן להוסיף כאן כלים נוספים -->
                    </ul>
            
                    <h4>Cloud Environments</h4>
                    <ul>
                        <li>AWS and Google Cloud</li>
                        <li>Cloud Tools (AMIs, Security Groups, Load Balancers, etc.)</li>
                        <!-- ניתן להוסיף כאן סביבות ענן נוספות -->
                    </ul>
                </div>
            </div>
            <div class="category" id="education-category">
                <h3>Education</h3>
                <div class="category-content">
                    <h4>DevOps Course at Sela College</h4>
                    <p>April - September 2023</p>
                    <p>Description of the course and your accomplishments.</p>
            
                    <!-- ניתן להוסיף כאן עוד קורסים והשכלה נוספים -->
                </div>
            </div>
            <div class="category" id="military-category">
                <h3>Military Service</h3>
                <div class="category-content">
                    <h4>Military Communication Technician</h4>
                    <p>September 2020 - May 2023</p>
                    <p>During my role, I dealt with military communication devices and control systems. The job included maintaining and operating communication equipment and troubleshooting network issues related to the devices. I was responsible for maintaining encryption protocols of the devices and ensuring overall unit readiness. The role also involved working in challenging field conditions and handling high-pressure situations. Throughout the position, I participated in boundary perception training, exercises across the country, and various operational missions.</p>
            
                    <!-- ניתן להוסיף פרטים נוספים עבור ניסיון בשירות הצבאי או תפקידים נוספים -->
                </div>
            </div>
        </div>
    </section>
    
    <section id="projects" class="section">
        <h2>Projects</h2>
        <div class="project-card">
            <h3>Profile website</h3>
            <p>The website we are on now that explains a little about me and my projects.</p>
            <a href="https://github.com/yotamdavid/profile_wabsite" target="_blank" class="button-link">GitHub</a>
        </div>
        <div class="project-card">
            <h3>Ferari website</h3>
            <p>The site simulates a Ferrari agency site with a wide range of options and the use of html, css, js and mysql. Building the version using Docker and uploading to DockerHub, running automatic tests and uploading to the Google cloud using k8s, and all this with the click of a button that activates the pipeline in Jenkins. You can enter the website or code in the links below.</p>
            <a href="https://github.com/yotamdavid/ferari_finel" target="_blank" class="button-link">GitHub</a>
            <a href="http://34.23.152.112:5000/" target="_blank" class="button-link">Ferari Website</a>
        </div>
    </section>

    <section id="contact" class="section">
        <h2>Contact Me</h2>
        <div class="contact-links">
            <a href="https://www.linkedin.com/in/yotam-david-a3b769275/" target="_blank">
                <img src="https://www.freeiconspng.com/thumbs/linkedin-logo-png/linkedin-logo-1.png" alt="LinkedIn Logo">
            </a>
            <a href="https://mail.google.com/mail/?view=cm&to=yotam.david1@gmail.com">
                <img src="https://cdn4.iconfinder.com/data/icons/social-media-logos-6/512/112-gmail_email_mail-512.png" alt="Email Logo">
            </a>
            <a href="sms:+054-9512557">
                <img src="https://w7.pngwing.com/pngs/356/440/png-transparent-iphone-computer-icons-telephone-email-telephone-electronics-text-mobile-phones.png" alt="Phone Logo">
            </a>
        </div>
        <a href="{{ url_for('static', filename='files/CV - Yotam David (2).pdf') }}" class="button-link-cv">View CV</a>
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="footer-content">
            <p>Created by Yotam David. | &copy; 2023 All rights reserved</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
